@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url(../assets/bg-mobile.jpg);
    background-repeat: no-repeat;
    background-position: top center; 
    background-size: cover; /* cobre toda área visível */
}

body * {
    font-family: 'Nunito', sans-serif;
    color: white;
}

#container {
    width: 360px;
    border: 1px solid red;
    margin: auto;
}

#profile img {
    display: block; /* imagens são 'inline' */
    width: 112px;
    margin: auto;
}

#profile p {
    
}