@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url(./assets/bg-mobile.jpg);
    background-repeat: no-repeat;
    background-position: top center; 
    background-size: cover; /* cobre toda área visível */
}

body * {
    font-family: 'Montserrat', sans-serif;
    color: white;
}

/* SCRIPTS DA PÁGINA INDEX.HTML */

#container {
    width: 700px;
    margin: auto;
    margin-top: 56px;
    padding: 0 24px;
}

#profile {
    text-align: center;
    padding: 24px;
}

#profile img {
    display: block; /* imagens são 'inline' */
    width: 200px;
    margin: auto;
}

#profile p {
    margin-top: 8px;
    font-weight: 300;
}

#projetos {
    font-size: 10px;
    text-align: center;
}

#projetos h1 {
    transition: all 0.5s;
    border: 1px solid #dddddd6f;
    border-radius: 8px;
    padding: 5px 0;
    margin: 10px;
    backdrop-filter: blur(50px); /* Ajuste o valor do desfoque conforme necessário */
    background-color: rgba(255, 255, 255, 0.139); /* Ajuste a cor e a opacidade conforme necessário */
}

#projetos h1:hover {
    transition: all 0.5s;
    border: 1px solid #dddddd6f;
    border-radius: 8px;
    padding: 10px 0;
    margin: 10px;
    backdrop-filter: blur(50px); /* Ajuste o valor do desfoque conforme necessário */
    background-color: rgba(255, 255, 255, 0.139); /* Ajuste a cor e a opacidade conforme necessário */
}

#projetos img {
    display: flex;
    transition: all 0.5s;
    max-width: 100%; /* Ajusta a largura máxima da imagem para o contêiner pai */
    border-radius: 8px;
    justify-content: center;
}

#projetos img:hover {
    display: flex;
    transition: all 0.5s;
    border-radius: 10px;
    max-width: 110%;
    justify-content: center;
}

#projetos iframe{
    margin: 0px 10px 20px 10px;
    border-radius: 10px;
}

#social-links {
    display: flex;
    justify-content: center;
    padding: 10px 0;
    font-size: 24px;
}

#social-links a {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 16px;
    border-radius: 50%;
}

#social-links a:hover {
    background: rgba(255, 255, 255, 0.2);
    padding: 16px;    
    transition: all 0.2s;
}

footer{
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10
}
