@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url(./assets/bg-mobile.jpg);
    background-repeat: no-repeat;
    background-position: top center; 
    background-size: cover; /* cobre toda área visível */
}

body * {
    font-family: 'Montserrat', sans-serif;
    color: white;
}

/* SCRIPTS DA PÁGINA INDEX.HTML */

#container {
    width: 700px;
    margin: auto;
    margin-top: 56px;
    padding: 0 24px;
}

#profile {
    text-align: center;
    padding: 24px;
}

#profile img {
    display: block; /* imagens são 'inline' */
    width: 200px;
    margin: auto;
}

#profile p {
    margin-top: 8px;
    font-weight: 300;
}

#projetos img {
    max-width: 100%; /* Ajusta a largura máxima da imagem para o contêiner pai */
    height: auto;    /* Ajusta a altura automaticamente para manter as proporções */
    border: 1px solid #ddd;
    border-radius: 8px;
}

ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 24px 0;
}

ul li a {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 16px 24px;
    background: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 8px;
    text-decoration: none;
    font-weight: 700;
}

ul li a:hover {
    background: rgba(255, 255, 255, 0.05);
    border: 1.5px solid white;
    transition: all 0.2s;
}

#curriculo {
    text-decoration: underline;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

#social-links {
    display: flex;
    justify-content: center;
    padding: 10px 0;
    font-size: 24px;
}

#social-links a {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 16px;
    border-radius: 50%;
}

#social-links a:hover {
    background: rgba(255, 255, 255, 0.2);
    padding: 16px;    
    transition: all 0.2s;
}

#video_yt {
    margin: 20px;
    display: flex;
    justify-content: center;
}

#video_yt iframe{
    border-radius: 10px;
    transition: all 0.5s;
}

#video_yt iframe:hover{
    border-radius: 20px;
    transition: all 0.5s;
    padding: 10px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

/* SCRIPTS DA PÁGINA ANALISE_FUTEBOL.HTML */

#analise-futebol-pbix {
    margin: 20px;
}

#analise-futebol-pbix img {
    display: flex;
    width: 100%;
    border-radius: 10px;
}

#analise_futebol_titulo {
    font-weight: 800;
    padding: 20px;
}

#analise_futebol_paragrafo {
    padding: 40px;
    text-align: justify;
    padding: 16px 24px;
    background: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 8px;
    text-decoration: none;
    font-weight: 700;
    margin: 20px;
}